In [2]:
s = 'happybirthday'
s = s.replace('happy','merry')
s

'merrybirthday'

In [6]:
# 변환 테이블 만들기 str.maketrans('바꿀문자열','새로운문자열')
table = str.maketrans('abcde','01234')
table

{97: 48, 98: 49, 99: 50, 100: 51, 101: 52}

In [10]:
alphbet = 'abcdefghij'
'abcdefghij'.translate(table)
# s.translate(table) # AttributeError: 'dict' object has no attribute 'translate'

'01234fghij'

In [39]:
import string
str = 'afafs,,,.../sdgs;;;dfsf;q.f'
str = str.translate(str.maketrans("","",string.punctuation))
str

'afafssdgsdfsfqf'

<h4> 공백, 특정 문자 삭제 </h4>

- lstrip(), rstrip()

<h4> 구두점 삭제 </h4>

- .strip(string.punctuation)

- .strip(string.punctuation + ' ')

- .strip(string.punctuation).strip()

정렬

In [11]:
'today'.ljust(10)

'today     '

In [12]:
'today'.rjust(10)

'     today'

In [13]:
'today'.center(10)

'  today   '

채우기

In [14]:
#zerofill = zfill
'string'.zfill(10)

'0000string'

찾기

In [16]:
'MondayTuesday'.find('day')

3

In [17]:
'MondayTuesday'.rfind('day')

10

In [20]:
# find는 기본적으로 왼쪽부터 찾기 때문에 lfind는 존재X
'MondayTuesday'.lfind('day')

AttributeError: 'str' object has no attribute 'lfind'

In [21]:
'MondayTuesday'.index('day')

3

In [22]:
'MondayTuesday'.count('day')

2

<h3>서식 시정자, 포매팅</h3>
- %s, %d, %f

In [24]:
'i am %s' % 'bari'

'i am bari'

In [25]:
name = 'sung'
'My name is %s' % name

'My name is sung'

In [30]:
# 오른쪽 정렬 - 자릿수가 다른 숫자를 출력할 때 유용
'%15s' % 150  # '            150'
'%15s' % 1500 # '           1500'


# 왼쪽 정렬
'%-15s' % 1500 # '1500           '

# 실수의 정렬
'%-8.3f' % 2.2 # '2.200   '

'%8.3f' % 2.2  # '   2.200'

'   2.200'

In [33]:
'{0} {1} {1}{0}'.format('Hi','Bye')

'Hi Bye ByeHi'

In [34]:
'{} {} {}{}'.format(1,2,'Say','My')

'1 2 SayMy'

In [3]:
'{0:<20}'.format('python')

'python              '

In [3]:
# 0 4개로 1을 표현해
'%04d' % 1
'{0:04d}'.format(1)

'%05d' % 300

'0001'

In [9]:
# 실수는 소수점까지 자릿수로 포함,
'%0총 자릿수.소수점이하 자릿수f % 실수'
'%08.2f' % 0.5 # '00000.50'
'%02.5f' % 0.5
'%04.4f' % 2.0

'2.0000'

In [10]:
'{0:0>10.2f}'.format(15)

'0000015.00'

In [13]:
# 빈 곳 입력한 문자열(,)로 채우기
'{0:,>8}'.format(100)

',,,,,100'

In [14]:
format(102938101031,',')

'102,938,101,031'

In [19]:
'{: >12.4f}'.format(1675.3)

'   1675.3000'

In [24]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'
path = path.split('\\')
filename = path[-1]
print(filename)

python.exe

In [41]:
# 문자 입력받고, 특수기호 지우고, 'the'의 개수 세기
str = input()
str = str.translate(str.maketrans("","",string.punctuation))
str = str.split()
thecount = str.count('the')
print(thecount)

6

In [81]:
prices = input().split(';')

# 정수로 변환해서 내림차순
price = [int(i) for i in prices]
price.sort(reverse=True)

# 9자리 길이로 맞춤, 오른쪽 정렬, 천 단위 콤마 추가
for  i in price :
    print(f'{i: >9,}')
    
    """
     f'' 발전과정 
     기본형 : f'{i}'
     문자길이조건 추가 : f'{i: >9}'
     천단위 콤마 추가 : f'{i :>9,}' 띄어쓰기 관계없이 다 되더라
    """

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900