In [1]:
a=[10,20,30]
a.insert(0,500)
a

[500, 10, 20, 30]

In [2]:
# 맨 끝에 추가
a.insert(len(a),600)
a

[500, 10, 20, 30, 600]

In [3]:
a[1:1] = [1,2]
a

[500, 1, 2, 10, 20, 30, 600]

In [4]:
a.insert(a[1],[4,5])
a

[500, [4, 5], 1, 2, 10, 20, 30, 600]

In [6]:
a.extend([9,9])
a

[500, [4, 5], 1, 2, 10, 20, 30, 600, 9, 9]

In [9]:
# pop은 요소 하나씩만 다룰 수 있음
a.pop(4)
a

[500, [4, 5], 1, 2, 20, 30, 600, 9, 9]

In [10]:
# del은 슬라이싱 가능
del a[6:]
a

[500, [4, 5], 1, 2, 20, 30]

In [11]:
# 인덱스가 아닌 값으로 삭제
a.remove([4,5])
a

[500, 1, 2, 20, 30]

In [89]:
aa = [2.4, 6.3, 4.343, 6]
aa = list(map(int,aa))
aa

[2, 6, 4, 6]

<h4>스택과 큐</h4>
<mark>스택</mark> : append와 pop이 리스트의 최우요소의 위치에서만 적용됨<br><mark>데큐</mark> : 최우, 최좌 위치의 요소들을 통제 가능

In [17]:
from collections import deque
a = deque([10,20,30])
a

deque([10, 20, 30])

In [18]:
a.append(500)
a.appendleft(100)
a

deque([100, 10, 20, 30, 500])

In [19]:
a.pop()
a.popleft()
a

deque([10, 20, 30])

리스트가 비어있는지 확인

In [22]:
a = []
if a:
    print(len(a))
elif not a:
    print('No element')

No element

<h5>for 인덱스, 요소 <em>in enumerate(리스트, start=숫자)</em></h5>

In [26]:
a = range(1,10)
for index, i in enumerate(a,1) :
    print(f'{index}번째 {i}')

1번째 1
2번째 2
3번째 3
4번째 4
5번째 5
6번째 6
7번째 7
8번째 8
9번째 9

In [30]:
for i in range(len(a)):
    print(a[i])

23
55
12
73
66

a = [23,55,12,73,66]<br>
for i in a :<br>
        print(a)

위의 코드는 5(리스트의 요소 개수)번 실행되므로 하단의 결과물 출력


[23, 55, 12, 73, 66]<br>
[23, 55, 12, 73, 66]<br>
[23, 55, 12, 73, 66]<br>
[23, 55, 12, 73, 66]<br>
[23, 55, 12, 73, 66]

In [31]:
a = [11,22,33,444,55]
i = 0
while i < len(a):
    print(a[i])
    i += 1

11
22
33
444
55

<h4>가장 작은 수와 큰 수 구하기</h4>

In [36]:
a = [888, 324, 7537, 1, 9, 13, 33, 38, 1018, 302]
smallest = a[0]
for i in a :
    if i < smallest :
        smallest = i
    
print(smallest)

1

In [39]:
a = [888, 324, 7537, 1, 9, 13, 33, 38, 1018, 302]
largest = a[0]
for i in a :
    if i > largest :
        largest = i
    
print(largest)

7537

In [40]:
# 가장 간단한건 min,max 함수
print(min(a))
print(max(a))

1
7537

<h4>List Comprehension</h4>
처리 순서는 뒤 -> 앞

똑같이 for문을 만들어주고 가장 앞에 연산 가능

In [41]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
b = list(i for i in range(2,11))
b

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
# 0~7 까지의 i에 +5
c = [i + 5 for i in range(8)]
c

[5, 6, 7, 8, 9, 10, 11, 12]

In [50]:
d = [i * i for i in range(4)]
d

[0, 1, 4, 9]

In [52]:
# 조건문도 넣을 수 있어용
iflist1 = [i for i in range(10) if i%2 == 0]
iflist1

[0, 2, 4, 6, 8]

<h4>구구단</h4>

In [74]:
gugudan = [i*j  for j in range(2,10) for i in range(1,10)] 
len(gugudan)

72

In [88]:
for dan in range(8):
    print(dan+2,"단")
    for num in range(9):
        print(f'{dan+2} X {num+1}은 {gugudan[9*dan+num]}')
    print("------------")

2 단
2 X 1은 2
2 X 2은 4
2 X 3은 6
2 X 4은 8
2 X 5은 10
2 X 6은 12
2 X 7은 14
2 X 8은 16
2 X 9은 18
------------
3 단
3 X 1은 3
3 X 2은 6
3 X 3은 9
3 X 4은 12
3 X 5은 15
3 X 6은 18
3 X 7은 21
3 X 8은 24
3 X 9은 27
------------
4 단
4 X 1은 4
4 X 2은 8
4 X 3은 12
4 X 4은 16
4 X 5은 20
4 X 6은 24
4 X 7은 28
4 X 8은 32
4 X 9은 36
------------
5 단
5 X 1은 5
5 X 2은 10
5 X 3은 15
5 X 4은 20
5 X 5은 25
5 X 6은 30
5 X 7은 35
5 X 8은 40
5 X 9은 45
------------
6 단
6 X 1은 6
6 X 2은 12
6 X 3은 18
6 X 4은 24
6 X 5은 30
6 X 6은 36
6 X 7은 42
6 X 8은 48
6 X 9은 54
------------
7 단
7 X 1은 7
7 X 2은 14
7 X 3은 21
7 X 4은 28
7 X 5은 35
7 X 6은 42
7 X 7은 49
7 X 8은 56
7 X 9은 63
------------
8 단
8 X 1은 8
8 X 2은 16
8 X 3은 24
8 X 4은 32
8 X 5은 40
8 X 6은 48
8 X 7은 56
8 X 8은 64
8 X 9은 72
------------
9 단
9 X 1은 9
9 X 2은 18
9 X 3은 27
9 X 4은 36
9 X 5은 45
9 X 6은 54
9 X 7은 63
9 X 8은 72
9 X 9은 81
------------

In [94]:
num1, num2  = map(int,input().split())
a = [2 ** i for i in range(num1,num2+1)]
del a[1]
del a[-2]

print(a)

[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]